.App {
  display: flex;
  &_chat {
    display: flex;
    justify-content: center;
    width: 70%;
    &__msg {
      margin-bottom: 100px;
      width: 90%;
      height: 100%;
    }
  }
  &_listChat {
    width: 30%;
  }
  &_input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
